/*------------------ LogIn Components ---------------*/
.login-background{
  height: 92%;
  width: 100%;
  background-image: url("../home_background.jpg"), linear-gradient(100deg, #363636, transparent);
  background-size: cover;
  background-position: 100%;
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
}

.signin-form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.password-toogle-icon {
  position: absolute;
  top: 60%;
  right: 15px;
  cursor: pointer;
  color: black;
}

.login-button {
  position: absolute;
  top: 65%;
  left: 52%;
  width: 7%;
  background-color: transparent;
}

.login-button:hover {
  background-color: rgba(255, 255, 255, 1);
  color: black;
}

.div-signin-to-signup {
  position: absolute;
  top: 71%;
  left: 40%;
  right: 40%;
}

.link-signin-to-signup {
  font-size: small;
  color: rgba(255, 255, 255, 1);
}

.link-signin-to-signup:hover {
  color: gray;
}

.login-password-eye-wrapper {
  position: absolute;
  left: 40%;
  right: 40%;
  top: 49%;

}

.login-email-wrapper {
  width: 20%;
  position: absolute;
  top: 36%;
  left: 40%;
}

.login-form-label {
  display: inline-block;
  margin-bottom: 12px;
  margin-top: 5px;
  color: rgba(255, 255, 255, 1);
}