/*------------------ LogIn Components ---------------*/
.login-background{
  height: 92%;
  width: 100%;
  background-image: url("../home_background.jpg"), linear-gradient(100deg, #363636, transparent);
  background-size: cover;
  background-position: 100%;
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
}

.signin-container {
  width: 100%;
}

.signin-form {
  width: 100%;
  max-width: 70%;
  padding: 15px;
  margin: auto;
}

.password-toogle-icon {
  position: absolute;
  top: 60%;
  right: 15px;
  cursor: pointer;
  color: black;
}

.login-btn {
  background-color: transparent;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid white;
  margin-top: 50px;
}

.login-btn:hover{
  background-color: black;
  color: white;
}

.link-signin-to-signup {
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
  color: white;
  border: black;
}

.link-signin-to-signup:hover {
  color: black;
}

.login-form-group {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.login-form-label {
  display: block;
  margin-bottom: 12px;
  margin-top: 5px;
  color: rgba(255, 255, 255, 1);
}

.login-placeholder-row {
  height: 13.6%;
}

.login-btn-show-password {
  border-radius: 100px;
  margin-top: 45px;
  background-color: transparent;
  font-size: 20px;
  height: 30px;
}