/*------------------ Chat Components ---------------*/

.div-chat-friendList {
  height: 92%;
  width: 20%;
  overflow: auto;
  background-color: blanchedalmond;
  position: absolute;
  display: inline-block;
}

.div-emoji-background {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  z-index: 900;
}

.div-chat-friendList-header {
  height: 5%;
  width: 100%;
  background-color: coral;
}

.div-chat-box {
  height: 80%;
  width: 60%;
  margin-top: 3%;
  margin-left: 30%;
  background-color: rgb(233, 204, 211);
  position: absolute;
  display: inline-block;
  border-radius: 5px;
}

.div-chat-display {
  background-color: aliceblue;
  width: 80%;
  height: 60%;
  margin-left: 10%;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  padding: 2%;
}

.div-chat-opponent {
  height: 5%;
  margin-left: 11%;
  margin-top: 1%;
}

.btn-close-chat {
  background-color: crimson;
  border-color: crimson;
  float: right;
  margin-right: 1%;
}

.div-text-enter {
  width: 80%;
  margin-left: 10%;
}

.text-enter {
  width: 100%;
}

.btn-send-text {
  width: 10%;
  margin-left: 80%;
  margin-top: 1%;
  background-color: darkorange;
}

.div-chat-message {
  width: 100%;
  margin-top: 30px;
}

.div-message-sent {
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 70%;
  border-radius: 10px;
  background-color: coral;
  float: right;
  font-size: large;
  word-wrap: break-word;
}

.div-time-label-sent {
  display: block;
  position: relative;
  text-align: left;
  top: -15px;
  height: fit-content;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  background-color: coral;
  border-radius: 50px;
  margin-bottom: -20px;
  font-size: 9px;
}

.div-time-label-received {
  display: block;
  position: relative;
  text-align: left;
  top: -15px;
  height: fit-content;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  background-color: chartreuse;
  border-radius: 50px;
  margin-bottom: -20px;
  font-size: 9px;
}

.chat-my-icon {
  float: right;
  margin-top: -3px;
  margin-left: 15px;
}

.div-message-received {
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 70%;
  border-radius: 10px;
  background-color: chartreuse;
  font-size: large;
  float: left;
  word-wrap: break-word;
}

.chat-friend-icon {
  float: left;
  margin-top: -3px;
  margin-right: 15px;
}

.div-loading-top {
  width: 100%;
  text-align: center;
  padding-top: 3%;
}

.div-loading-nothing {
  width: 100%;
  text-align: center;
  opacity: 0;
}

.btn-chat-friend {
  width: 100%;
  height: 60px;
}

.chat-friendList-icon {
  float: left;
}

.div-chat-friendList-name {
  font-size: small;
  font-weight: bolder;
  float: left;
  width: 30%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.div-chat-friendList-time {
  font-size: small;
  float: right;
  opacity: 0.75;
  width: 45%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.div-chat-friendList-recent-message {
  font-size: small;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 75%;
  margin-left: 25%;
  text-align: left;
  opacity: 0.75;
}

.div-chat-friendList-top {
  width: 100%;
  height: 20px;
}

.div-unread-message {
  position: absolute;
  background-color: red;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  font-size: 13px;
  color: white;
  z-index: 1000;
  text-align: center;
  margin-left: 10.5%;
  margin-top: -1.5%;
}

.div-unread-message-10 {
  position: absolute;
  background-color: red;
  border-radius: 10px;
  width: 25px;
  height: 20px;
  font-size: 13px;
  color: white;
  z-index: 1000;
  text-align: center;
  margin-left: 10.5%;
  margin-top: -1.5%;
}

.div-unread-message-99 {
  position: absolute;
  background-color: red;
  border-radius: 10px;
  width: 30px;
  height: 20px;
  font-size: 13px;
  color: white;
  z-index: 1000;
  text-align: center;
  margin-left: 10.5%;
  margin-top: -1.5%;
}

.btn-emoji {
  width: fit-content;
  height: fit-content;
  /* background color same as div-chat-box makes btn invisiable */
  background-color: rgb(233, 204, 211);
  border-color: rgb(233, 204, 211);
  text-align: center;
  margin-left: 11%;
  margin-top: 0px;
  margin-bottom: 3px;
}

.div-emoji-list {
  position: absolute;
  z-index: 1000;
  width: fit-content;
  height: fit-content;
  background-color: brown;
  border-radius: 5px;
  margin-left: 5%;
  margin-top: -325px;
}

.loading-send {
  float: right;
  margin-right: 15px;
}

.div-message-on-top {
  position: relative;
  z-index: 200;
}

.div-chat-notification {
  background-color: #fffefa;
  width: 400px;
  height: 150px;
  border-radius: 15px;
  position: absolute;
  z-index: 1080;
  top: 10vh;
  right: 1.5vh;
}

.p-chat-notification {
  width: 320px;
  word-wrap: break-word;
  margin-left: 40px;
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 20px;
}

.btn-chat-notification {
  background-color: black;
  color: #fffefa;
  border-color: black;
  width: 25%;
  margin-left: 30%;
  margin-top: 3%;
  display: inline-block;
  border-radius: 10px;
}

.btn-chat-notification-dismiss {
  background-color: red;
  color: #fffefa;
  border-color: red;
  width: 25%;
  margin-left: 10%;
  margin-top: 3%;
  display: inline-block;
  border-radius: 10px;
}

.p-no-margin {
  margin: 0px;
}

/*------------------ Chat Components end ---------------*/
