.change-password-formgroup{
  text-align: left;
  width: 80%;
  /* float: center; */
  /* max-width: 85%; */
  /* margin-left: 8%; */
}
.change-password-submit-btn{
  /* margin-left: 8%; */
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: black;
  color: white;
  margin-bottom: 50px;
}
.background-change-password{
  background-color: #F5F5F5;
  height: 92%;
  width: 100%;
}

.requirement-text{
  color:#FF0055;
  font-size: 12px;
}

.btn-show-password {
  /* position:absolute;
  right: 35%;
  top: 28.5%; */
  display: inline;
  border-radius: 50px;
  margin-top: 18%;
  background-color: black;
  font-size: 20px;
  height: 30px;
  margin-left: -30px;
}
.delete-padding-left{
  padding-left: 0px;
}
.toggle-icon {
  display: flex;
  margin: 0px;
}
.change-password-div{
  margin-top: 10%;
}