:root {
  --button-font: "Montserrat", sans-serif;
}

/*------------------ SignUp Components ---------------*/
.password-requirement {
  font-size: small;
  margin: 0;
  list-style-type: none;
  padding-left: 0;
  color: rgb(168, 58, 58);
}

#signup-to-signin {
  background-color: #3485f0;
  margin-top: 10px;
  border: black;
}

.form-label {
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 5px;
}

.signup-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
}

.signup-password {
  display: inline-block;
  margin-top: 5px;
}
.submit-btn {
  background-color: #3485f0;
  margin-top: 15px;
}
/*------------------ SignUp Components end---------------*/


/*------------------ SignIn Components ------------------*/
#signin-to-signup {
  font-size: small;
}
/*------------------ SignIn Components end---------------*/


/*------------------ HomePage Components ---------------*/
.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.navbar-dark .navbar-brand {
  color: white;
}
.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-nav .nav-link:hover {
  color: black;
  transition: 0.4s;
}

h1 {
  text-shadow: 2px 3px 0px rgba(150, 150, 150, 0.7);
}

body .bg-dark {
  /* color: rgb(43, 47, 49); */
  margin-bottom: 0px;
  background-color: #3485f0 !important;
  /* box-shadow: 10px 10px 5px 5px rgba(43, 47, 49, 1); */
}

.col-sm {
  text-align: center;
}
#column-left {
  text-align: left;
}

.btn-homepage {
  padding: 0.75rem 1rem;
  margin: 30px;
  height: 50px;
  width: 180px;
  text-align: center;
  border-radius: 50px;
  font-family: var(--button-font);
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.3);

  /* vertical-align: middle; */
}
/*------------------ HomePage Components End ---------------*/


/*------------------ Profile SideBar Components ---------------*/ 
.profile-side-bar {
  width: 240px !important;
 }
 .pro-sidebar{
   height: 50vh !important;
 }
 .pro-sidebar > .pro-sidebar-inner{
  width: 80% !important;
  flex-direction: unset;
  /* height: 70vh; */
 }
.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout {
  background-color: beige;
  width: 250px !important;
}
.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item > .pro-item-content{
  font-size: 20px;
  text-align: center;
  color: black;
}

.pro-sidebar .pro-menu .pro-menu-item:hover{
  background-color: rgb(208, 218, 157);
  transition: 0.4s;
}

/*------------------ Profile SideBar Components End ---------------*/ 


footer {
  height: 30px;
  position: absolute;
  color: aliceblue;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  background-color: rgb(31, 30, 30);
}

.btn-show-password {
  display: inline;
  border-radius: 50px;
  margin-top: 10px;
  background-color: blueviolet;
  font-size: 20px;
  height: 30px;
}

.toggle-icon {
  display: flex;
  margin: 0px;
}

/*------------------ Contact Components ---------------*/
.rectangle {
  display: inline-block;
  width: 200px;
  background: white;
}

.btn-friend {
  width: 200px;
}

/*------------------ Contact Components end ---------------*/