:root {
  --button-font: "Montserrat", sans-serif;
  --median-font-size: 16px;
  --large-font-size: 30px;
  --small-font-size: 12px;
}

/*------------------ SignUp Components ---------------*/
.password-requirement {
  font-size: small;
  margin: 0;
  list-style-type: none;
  padding-left: 0;
  color: rgb(168, 58, 58);
}

#signup-to-signin {
  background-color: #3485f0;
  margin-top: 10px;
  border: black;
}

.form-label {
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 5px;
}

.signup-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
}

.signup-password {
  display: inline-block;
  margin-top: 5px;
}
.submit-btn {
  background-color: #3485f0;
  margin-top: 15px;
}
/*------------------ SignUp Components end---------------*/

/*------------------ SignIn Components ------------------*/
#signin-to-signup {
  font-size: small;
}
/*------------------ SignIn Components end---------------*/

/*------------------ NavigationBar Components ------------------*/
.notification-badge {
  background-color: rgb(168, 58, 58);
  margin-left: 5px;
  margin-right: 0px;
}

.notify-dropdown {
  width: 220px;
}

.notify-delete {
  float: right;
}

.dropdown-text {
  text-align: left;
  font-size: small;
}

.dropdown-time {
  color: grey;
}

.dropdown-notification {
  max-height: 200px;
  overflow: scroll;
}

/*------------------ NavigationBar Components end---------------*/

/*------------------ HomePage Components ---------------*/
.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.navbar-dark .navbar-brand {
  color: white;
}
.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-nav .nav-link:hover {
  color: black;
  transition: 0.4s;
}

h1 {
  text-shadow: 2px 3px 0px rgba(150, 150, 150, 0.7);
}

body .bg-dark {
  /* color: rgb(43, 47, 49); */
  margin-bottom: 0px;
  background-color: #3485f0 !important;
  /* box-shadow: 10px 10px 5px 5px rgba(43, 47, 49, 1); */
}

.col-sm {
  text-align: center;
}
#column-left {
  text-align: left;
}

.btn-homepage {
  padding: 0.75rem 1rem;
  margin: 30px;
  height: 50px;
  width: 180px;
  text-align: center;
  border-radius: 50px;
  font-family: var(--button-font);
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.3);

  /* vertical-align: middle; */
}
/*------------------ HomePage Components End ---------------*/

/*------------------ Profile SideBar Components ---------------*/
.profile-side-bar {
  width: 240px !important;
}
.pro-sidebar {
  height: 50vh !important;
}
.pro-sidebar > .pro-sidebar-inner {
  width: 80% !important;
  flex-direction: unset;
  /* height: 70vh; */
}
.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout {
  background-color: #f2eda2;
  width: 250px !important;
}
.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item > .pro-item-content {
  font-size: 20px;
  text-align: center;
  color: black;
}

.pro-sidebar .pro-menu .pro-menu-item:hover {
  background-color: rgb(208, 218, 157);
  transition: 0.4s;
}

.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-header {
  border-bottom: 2px solid black !important;
  color: black;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/*------------------ Setting Profile Components ---------------*/
.setting-profile-h4 {
  font-size: var(--large-font-size);
  text-align: left;
  border-bottom: 1px solid gray !important;
  padding-bottom: 5px;
}
.setting-profile-label {
  text-align: left;
}
.setting-profile-formgroup {
  text-align: left;
  padding-top: 10px;
}
.setting-profile-submit-btn-left {
  float: left;
  border-radius: 8px;
  background-color: green;
  color: white;
  margin-bottom: 50px;
}
.setting-profile-submit-btn-right {
  float: right;
  border-radius: 8px;
  background-color: grey;
  margin-bottom: 50px;
}
.setting-profile-form-label {
  display: inline-block;
  margin-bottom: 2px;
}
.setting-profile-description-input {
  /* padding-top: 0;
  padding-bottom: 0; */
  height: 200px;
}
.PhoneInputCountrySelect {
  /* position: absolute;
    top: 0;
    left: 0; */
  /* height: 100%; */
  width: 50%;
}
.PhoneInputInput {
  max-width: 90%;
}
.PhoneInputCountryIconImg {
  max-width: 10%;
}
/* .react-tel-input .special-label { */
/* display: none  !important; */
/* } */
.react-tel-input .form-control {
  width: 100% !important;
  height: 100% !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.react-tel-input .selected-flag .flag {
  margin-top: 0 !important;
}
.react-tel-input .selected-flag:focus:before,
.react-tel-input .selected-flag.open:before {
  border: none !important;
  box-shadow: none !important;
}
.react-tel-input .selected-flag:before {
  border: none !important;
}
/*------------------ Setting Profile Components End ---------------*/

/*------------------ Profile SideBar Components End ---------------*/

footer {
  height: 30px;
  position: absolute;
  color: aliceblue;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  background-color: rgb(31, 30, 30);
}

.btn-show-password {
  display: inline;
  border-radius: 50px;
  margin-top: 10px;
  background-color: blueviolet;
  font-size: 20px;
  height: 30px;
}

.toggle-icon {
  display: flex;
  margin: 0px;
}

/*------------------ Contact Components ---------------*/
.rectangle {
  display: inline-block;
  overflow-x: hidden;
  overflow-y: auto;
  width: 15vw;
  height: calc(100vh - 56px);
  background: white;
  /* white-space: nowrap; */
  /* margin: 0px;
  padding: 0px; */
  /* border: medium; */
  /* border-right: 2px solid black; */
  /* border-right-width: 2px; */
}

.btn-friend {
  /* max-width: 15vw; */
  width: 15vw;
}

.contact-header {
  height: 40px;
  background: chocolate;
  margin: auto;
}

.plus {
  color: white;
  background-color: chocolate;
  float: right;
  height: 40px;
  width: 40px;
  border-color: chocolate;
  border-radius: 0px;
}
.plus:hover {
  background-color: black;
  border-color: black;
}

.minus {
  background-color: chocolate;
  color: white;
  float: left;
  height: 40px;
  width: 40px;
  border-color: chocolate;
  border-radius: 0px;
}
.minus:hover {
  background-color: black;
  border-color: black;
}
.serch-contact-background {
  background-color: #3485f0;
  padding-top: 8px;
  padding-bottom: 8px;
}
.search-contact {
  width: 100%;
  height: 40px;
}
.export-contact {
  position: fixed;
}
.search-bar {
  width: 600px;
  height: 40px;
  border-radius: 6px;
}

.search-form {
  text-align: center;
  margin-top: 80px;
}

.btn-search {
  width: 40px;
  height: 40px;
  background-color: coral;
  margin: 0px;
}

.centered {
  text-align: center;
  margin-top: 120px;
}

.search-results {
  width: 500px;
  max-height: calc(100vh - 430px);
  min-height: 100px;
  overflow: auto;
  text-align: center;

  margin: auto;
  margin-top: 50px;
  position: absolute;
  left: 0;
  right: 0;
}

.requests-list-received {
  width: 300px;
  background-color: cornflowerblue;
  height: calc(100vh - 300px);
  overflow: auto;
  text-align: center;
  display: inline-block;
  margin: auto;
  margin-left: 30px;
}

.btn-searchResult {
  width: 500px;
}

.not-found {
  margin-top: 50px;
}

.search-detailed {
  width: 180px;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

.search-form-detailed {
  width: 100%;
  margin-top: 50px;
}

.btn-search-detailed {
  display: block;
  width: 200px;
  background-color: coral;
  margin: auto;
  margin-top: 50px;
  left: 0;
  right: 0;
}

.btn-request {
  width: 200px;
  height: 50px;
  background-color: mediumslateblue;
}

.btn-accept {
  width: 50px;
  height: 50px;
}

.btn-request-sent {
  width: 250px;
  height: 50px;
  background-color: mediumslateblue;
}

.div-contact {
  display: flex;
}

.note-input {
  width: 200px;
  height: 200px;
  margin-left: 10px;
  margin-right: 10px;
}

/*------------------ Contact Components end ---------------*/

/*------------------ Email Components ---------------*/

.div-mail {
  margin-top: 3%;
  margin-left: 10%;
  width: 50%;
  height: 80%;
  background-color: cornflowerblue;
  position: absolute;
  display: inline-block;
}

.div-sender {
  margin-top: 3%;
  margin-left: 65%;
  width: 30%;
  height: 80%;
  background-color: deepskyblue;
  position: absolute;
  display: inline-block;
}

.div-mail-body {
  width: 80%;
  margin-top: 5%;
  margin-left: 10%;
}

.div-mail-title {
  width: 80%;
  margin-top: 10%;
  margin-left: 10%;
}

.mail-body {
  width: 100%;
}

.mail-email {
  width: 85%;
}

.btn-send {
  width: 10%;
  height: 6%;
  margin-top: 5%;
  margin-left: 80%;
  background-color: lightsalmon;
}

.btn-add-email {
  width: 13%;
  height: 50px;
  margin-left: 2%;
  background-color: lightsalmon;
}

.div-to-email {
  width: 80%;
  height: 60px;
  margin-top: 5%;
  margin-left: 10%;
  border-width: 2px;
  overflow-x: auto;
  white-space: nowrap;
  border-color: black;
  border-style: solid;
  border-radius: 4px;
}

.email-display {
  display: inline-block;
  padding-left: 5px;
  margin-top: 8px;
  margin-left: 8px;
  background-color: indianred;
  border-radius: 4px;
}

.btn-searchEmail {
  width: 80%;
  margin-left: 10%;
}

.div-email-results {
  width: 100%;
  max-height: 300px;
  margin-top: 50px;
  overflow: auto;
}

/*------------------ Email Components end ---------------*/

/*------------------ Chat Components ---------------*/

.div-chat-friendList {
  height: calc(100% - 56px);
  width: 20%;
  overflow: auto;
  background-color: blanchedalmond;
  position: absolute;
  display: inline-block;
}

.div-chat-friendList-header {
  height: 5%;
  width: 100%;
  background-color: coral;
}

.div-chat-box {
  height: 80%;
  width: 60%;
  margin-top: 3%;
  margin-left: 30%;
  background-color: rgb(233, 204, 211);
  position: absolute;
  display: inline-block;
  border-radius: 5px;
}

.div-chat-display {
  background-color: aliceblue;
  width: 80%;
  height: 60%;
  margin-left: 10%;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  padding: 2%;
}

.div-chat-opponent {
  height: 5%;
  margin-left: 11%;
  margin-top: 1%;
}

.btn-close-chat {
  background-color: crimson;
  border-color: crimson;
  float: right;
  margin-right: 1%;
}

.div-text-enter {
  width: 80%;
  margin-left: 10%;
}

.text-enter {
  width: 100%;
}

.btn-send-text {
  width: 10%;
  margin-left: 80%;
  margin-top: 1%;
  background-color: darkorange;
}

.div-chat-message {
  width: 100%;
  margin-top: 30px;
}

.div-message-sent {
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 70%;
  border-radius: 10px;
  background-color: coral;
  float: right;
  font-size: large;
  word-wrap: break-word;
}

.div-time-label-sent {
  display: block;
  position: relative;
  text-align: left;
  top: -15px;
  height: fit-content;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  background-color: coral;
  border-radius: 50px;
  margin-bottom: -20px;
  font-size: 9px;
}

.div-time-label-received {
  display: block;
  position: relative;
  text-align: left;
  top: -15px;
  height: fit-content;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  background-color: chartreuse;
  border-radius: 50px;
  margin-bottom: -20px;
  font-size: 9px;
}

.chat-my-icon {
  float: right;
  margin-top: -3px;
  margin-left: 15px;
}

.div-message-received {
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 70%;
  border-radius: 10px;
  background-color: chartreuse;
  font-size: large;
  float: left;
  word-wrap: break-word;
}

.chat-friend-icon {
  float: left;
  margin-top: -3px;
  margin-right: 15px;
}

.div-loading-top {
  width: 100%;
  text-align: center;
  padding-top: 3%;
}

.div-loading-nothing {
  width: 100%;
  text-align: center;
  opacity: 0;
}

.btn-chat-friend {
  width: 100%;
  height: 60px;
}

.chat-friendList-icon {
  float: left;
}

.div-chat-friendList-name {
  font-size: small;
  font-weight: bolder;
  float: left;
  width: 30%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.div-chat-friendList-time {
  font-size: small;
  float: right;
  opacity: 0.75;
  width: 45%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.div-chat-friendList-recent-message {
  font-size: small;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 75%;
  margin-left: 25%;
  text-align: left;
  opacity: 0.75;
}

.div-chat-friendList-top {
  width: 100%;
  height: 20px;
}

.div-unread-message {
  position: absolute;
  background-color: red;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  font-size: 13px;
  color: white;
  z-index: 1000;
  text-align: center;
  margin-left: 10.5%;
  margin-top: -1.5%;
}

.div-unread-message-10 {
  position: absolute;
  background-color: red;
  border-radius: 10px;
  width: 25px;
  height: 20px;
  font-size: 13px;
  color: white;
  z-index: 1000;
  text-align: center;
  margin-left: 10.5%;
  margin-top: -1.5%;
}

.div-unread-message-99 {
  position: absolute;
  background-color: red;
  border-radius: 10px;
  width: 30px;
  height: 20px;
  font-size: 13px;
  color: white;
  z-index: 1000;
  text-align: center;
  margin-left: 10.5%;
  margin-top: -1.5%;
}

.btn-emoji {
  width: fit-content;
  height: fit-content;
  /* background color same as div-chat-box makes btn invisiable */
  background-color: rgb(233, 204, 211);
  border-color: rgb(233, 204, 211);
  text-align: center;
  margin-left: 11%;
  margin-top: 0px;
  margin-bottom: 3px;
}

.div-emoji-list {
  position: absolute;
  z-index: 1000;
  width: fit-content;
  height: fit-content;
  background-color: brown;
  border-radius: 5px;
  margin-left: 5%;
  margin-top: -325px;
}

.loading-send {
  float: right;
  margin-right: 15px;
}

.div-message-on-top {
  position: relative;
  z-index: 200;
}

.div-chat-notification {
  background-color: rgb(237, 85, 106);
  width: 300px;
  word-wrap: break-word;
  border-radius: 5px;
  position: absolute;
  z-index: 1080;
  padding: 10px;
  top: 60px;
  right: 5px;
}

.btn-chat-notification {
  background-color: rgb(240, 161, 168);
  width: 30%;
  margin: 9%;
  display: inline-block;
}

.p-no-margin {
  margin: 0px;
}

/*------------------ Chat Components end ---------------*/

/*------------------ Video Components ---------------*/

.div-video-call {
  width: 100%;
  height: 100%;
  background-color: #475164;
  z-index: 2000;
  position: absolute;
  top: 0;
}

.div-video-title {
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: #93b5cf;
  margin-top: 2%;
}

.video-call-video {
  width: 600px;
  height: 500px;
}

.div-video-call-display {
  width: 100%;
  height: 500px;
  margin-top: 3%;
}

.div-my-video {
  width: 600px;
  height: 500px;
  display: inline-block;
  margin-left: 12%;
  color: #8fb2c9;
  font-size: 20px;
}

.div-friend-video {
  width: 600px;
  height: 500px;
  display: inline-block;
  margin-left: 6%;
  color: #8fb2c9;
  font-size: 20px;
}

.div-loading-video {
  margin-bottom: 0%;
  display: inline-block;
  width: 600px;
  margin-left: 0px;
  margin-top: 200px;
  position: absolute;
}

.div-video-button {
  margin-top: 5%;
  width: 100%;
  text-align: center;
}

.btn-end-call {
  width: 60px;
  height: 60px;
  background-color: #f03752;
  color: #c0c4c3;
  font-size: 25px;
}

.div-video-call-notification {
  background-color: #cc163a;
  width: 300px;
  word-wrap: break-word;
  border-radius: 5px;
  position: absolute;
  z-index: 1080;
  padding: 10px;
  top: 40vh;
  left: 50%;
  margin-left: -150px;
}

.btn-video-call-notification {
  background-color: #ccccd6;
  color: #142334;
  width: 33%;
  margin: 7%;
  display: inline-block;
}

/*------------------ Video Components end ---------------*/

/*------------------ profileDisplay Components -------------*/
.profile-display-line {
  margin-top: 45px;
  font-size: 28px;
  text-align: left;
}

.profile-display-value {
  margin-left: 30px;
  margin-top: 45px;
  font-size: 28px;
  text-align: left;
}

.profile-display-bar {
  text-align: left;
  font-size: 28px;
  background-color: skyblue;
  margin-top: 40px;
}

.profile-display-header {
  text-align: left;
  font-size: 72px;
  margin-top: 10px;
  font-family: "Comic Sans MS";
}

.profile-display-edit-btn {
  border-radius: 20px;

  height: 42px;
  float: right;
  background-color: mediumslateblue;
}

.profile-display-inner-container {
  margin-right: 20px;
}

.profile-display-p {
  margin-top: 40px;
  text-align: justify;
  white-space: pre-line;
}

.profile-display-contact-line {
  margin-top: 45px;
  font-size: 28px;
  margin-left: 280px;
}

.profile-display-contact-value {
  margin-top: 45px;
  font-size: 28px;
}
.profile-display-icon-btn {
  margin-left: 0px;
  align-self: center;
  border-radius: 20px;
  height: 32px;
  width: 120px;
  text-align: center;
  background-color: mediumslateblue;
}

.profile-display-formgroup {
  text-align: left;
  padding-top: 10px;
}

.profile-display-note-input {
  height: 200px;
  white-space: pre-line;
}

.profile-display-change-btn {
  margin-left: 0px;
  align-self: center;
  border-radius: 20px;
  height: 32px;

  text-align: center;
  background-color: mediumslateblue;
}

/******************** ProfileDisplay Components END ********************/

/******************** ChangeIcon Components  ********************/
.change-icon-btn-frame {
  margin-top: 40px;
  height: 160px;
  width: 160px;
  align-items: justify;
  background-color: skyblue;
}

.change-icon-btn-save {
  height: 60px;
  width: 140px;
  text-align: justify;
  background-color: mediumslateblue;
}

.change-icon-line {
  margin-top: 40px;
}

/************************** ChangeIcon Components END***************************/

.div-loading-background {
  width: 100%;
  height: 100%;
  background-color: #5e7987;
  opacity: 0.5;
  z-index: 1500;
  position: absolute;
  top: 0;
}

.animate-CandH-icon {
  width: 450px;
  height: 450px;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-top: -225px;
  margin-left: -225px;
}

.img-CandH-icon {
  width: 450px;
  height: 450px;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-top: -225px;
  margin-left: -225px;
}

/* 
.App {
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
