body {
  margin: 0;
  /* font-family: 'Roboto', sans-serif; */
  font-family: "Montserrat", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f2ed;
  /* background-image: linear-gradient(to right top, #000000, #1a1a1a, #2d2d2d, #414142, #565758); */
  background-attachment: fixed;
}
:root {
  font-family: "Roboto", sans-serif;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
