/*------------------ SignUp Components ---------------*/
.signup-container{
  width: 90vw;
}
#signup-to-signin {
  background-color: transparent;
  border: black;
  color: white;
}
#signup-to-signin:hover{
  color: black;
}
.form-label {
  display: inline-block;
  margin-bottom: 12px;
  margin-top: 5px;
  color: white;
}
.formgroup{
  display: block;
  justify-content: center;
  align-items: center;
  width: 70%;
}
.signUp-form {
  width: 100%;
  max-width: 70%;
  padding: 15px;
  margin: auto;
}

.btn-show-password-register {
  border-radius: 100px;
  margin-top: 45px;
  background-color: transparent;
  font-size: 20px;
  height: 30px;
}
#formgroup-password{
  float: right;
  width: 82%;
}
#formgroup-confirm-password{
  float: right;
  width: 82%;
}
#requirement-text{
  color: #19548E;
  font-size: 12px;
}
.signup-password {
  display: inline-block;
  color: white;
  margin-top: 5px;
  margin-bottom: 12px;
}
.submit-btn {
  background-color: transparent;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  /* color: white; */
  border: 1px solid white;
  /* padding: .30rem .85rem; */
  margin-top: 50px;
  /* font-size: 20px; */
}
.submit-btn:hover{
  background-color: black;
  color: white;
}
.background-sign-up{
  height: 92%;
  width: 100%;
  background-image: url("../home_background.jpg"), linear-gradient(100deg, #363636, transparent);
  background-size: cover;
  background-position: 100%;
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
}
.display-text{
  padding-top: 85px;
  color: #19548E;
}
