/*------------------ Video Components ---------------*/

.div-video-call {
  width: 100%;
  height: 100%;
  background-color: #475164;
  z-index: 2000;
  position: absolute;
  top: 0;
  overflow: auto;
}

.div-video-title {
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: #93b5cf;
  margin-top: 2%;
}

.video-call-video {
  width: 450px;
  height: 350px;
  z-index: 2300;
}

.div-video-call-display {
  width: 100%;
  height: 400px;
  margin-top: 2%;
  z-index: 2300;
  overflow: auto;
}

.div-my-video {
  width: 450px;
  height: 350px;
  display: inline-block;
  margin-left: 12%;
  color: #8fb2c9;
  font-size: 20px;
  z-index: 2300;
}

.div-friend-video {
  width: 450px;
  height: 350px;
  display: inline-block;
  margin-left: 6%;
  color: #8fb2c9;
  font-size: 20px;
  z-index: 2300;
}

.div-loading-video {
  margin-bottom: 0%;
  display: inline-block;
  width: 450px;
  margin-left: 0px;
  margin-top: 120px;
  position: absolute;
}

.div-video-button {
  margin-top: 3%;
  width: 100%;
  text-align: center;
  z-index: 2500;
}

.btn-end-call {
  width: 50px;
  height: 50px;
  background-color: #f03752;
  color: #c0c4c3;
  font-size: 20px;
}

.div-video-call-notification {
  background-color: #fffefa;
  width: 500px;
  height: 170px;
  border-radius: 15px;
  position: absolute;
  z-index: 1080;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
}

.p-video-call-notification {
  margin-left: 10px;
  margin-top: 25px;
  margin-bottom: 20px;
  width: 480px;
  word-wrap: break-word;
  font-size: 30px;
  text-align: center;
}

.btn-video-call-notification {
  background-color: black;
  color: #ccccd6;
  border-color: black;
  width: 25%;
  margin-left: 20%;
  margin-top: 3%;
  display: inline-block;
  border-radius: 10px;
}

.btn-video-end-notification {
  background-color: black;
  color: #ccccd6;
  border-color: black;
  width: 25%;
  margin-left: 37.5%;
  margin-top: 3%;
  display: inline-block;
  border-radius: 10px;
}

.btn-video-call-notification-ignore {
  background-color: red;
  color: #ccccd6;
  border-color: red;
  width: 25%;
  margin-left: 10%;
  margin-top: 3%;
  display: inline-block;
  border-radius: 10px;
}

/*------------------ Video Components end ---------------*/
